body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.title {
    margin: 0;
}

.info {
    font-size: 20px;
    font-weight: 600;
    gap: 4px;
    display: inline-flex;
}

.canvas {
    width: 500px;
    height: 500px;
}